<section>
  <h4>Parcours</h4>
  <br><br>
  <div class="">
    <p>
      2013, Exposition personnelle à La place à l’art de Voiron en France.
    </p>
  </div>
  <div class="">
    <p>
      2013, Exposition collective à l'espace LARITH à Chambéry en France.
    </p>
  </div>
  <div class="">
    <p>
      2012, Exposition personnelle à La place à l’art de Voiron en France.
    </p>
  </div>
  <div class="">
    <p>
      2011, Exposition personnelle à L’Atelier du 8 de Grenoble en France.
    </p>
  </div>
  <div class="">
    <p>
      2008, 3e prix et mention au concours de peinture de l‘Ebouillanté, à Paris.
    </p>
  </div>
  <div class="">
    <p>
      2002, exposition collective à l’université de Hunan en Chine.
    </p>
  </div>
</section>
